@{

    Layout = "~/Views/Shared/_Loginlayout.cshtml";
}
<script type="text/javascript">
    function fun(){
        window.open("/Login/Login", "target=_blank", "resize=0,toolbar=no,location=no,status=no,scrollbars=no,menubar=no");
    }
</script>
<div class="row">
    <div class=" text-center" style="margin-top:10%;">
        <h1>Welcome To Bitministry Bank</h1>
        <h3>Click Here to Secure Login</h3>
        <button type="submit" class="btn btn-success" onclick="fun()">Click here to Login</button>
    </div>
</div>




